<h1>Recommend "<%= @book.title %>" to a Friend</h1>

<%= form_with model: @notification, url: create_recommendation_book_path, method: :post do |form| %>
  <div class="form-group">
    <%= form.label :receiver_id, "Select a Friend" %>
    <%= form.collection_select :receiver_id, User.where.not(id: current_user.id), :id, :first, prompt: "Choose a Friend" %>
  </div>

  <div class="form-group">
    <%= form.label :message, "Message (Optional)" %>
    <%= form.text_area :message, rows: 3, class: "form-control" %>
  </div>

  <%= form.hidden_field :book_id, value: @book.id %>

  <%= form.submit "Send Recommendation", class: "btn btn-primary" %>
<% end %>
