<div>

    <%= form_with url: user_admin_path, method: :get, local: true, class: "space-y-4" do |form| %>
            <div class="flex flex-col space-y-2">
                <%= form.label :query, "Search by first name", class: "text-sm font-medium text-slate-700" %>
                <%= form.text_field :first_query, value: params[:query], class: "w-1/3 bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-300 rounded-full px-4 py-2 transition duration-300 focus:outline-none focus:ring-2 focus:ring-violet-300 focus:border-violet-300", placeholder: "Search first names..." %>
            </div>

            <div class="flex flex-col space-y-2">
                <%= form.label :query, "Search by last name", class: "text-sm font-medium text-slate-700" %>
                <%= form.text_field :last_query, value: params[:query], class: "w-1/3 bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-300 rounded-full px-4 py-2 transition duration-300 focus:outline-none focus:ring-2 focus:ring-violet-300 focus:border-violet-300", placeholder: "Search last names..." %>
            </div>

            <div class="flex flex-col space-y-2">
                <%= form.label :query, "Search by email", class: "text-sm font-medium text-slate-700" %>
                <%= form.text_field :email_query, value: params[:query], class: "w-1/3 bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-300 rounded-full px-4 py-2 transition duration-300 focus:outline-none focus:ring-2 focus:ring-violet-300 focus:border-violet-300", placeholder: "Search emails..." %>
            </div>

            <div>
                <%= form.submit "Filter Users", class: "w-1/3 bg-violet-500 text-white py-2 px-4 rounded-full text-sm font-medium hover:bg-violet-300 transition duration-300" %>
            </div>

        <% end %>


    <p class="text-lg font-semibold mb-2">Browse Users</p>
    <div class="grid grid-cols-1">
        <% @users.each do |user| %>
            <br>
            <div class="list-group-item">
                <%= "Name: #{user.first} #{user.last}" %>
                <%= "Email: #{user.email}" %>
                <%= button_to "Delete User", user_path(user.id), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "list-group-item flex-column justify-content-between", params: {from_admin: true} %>
                <%= link_to "View Reviews", user_admin_moderate_path(user.id) %>
            </div>
        <% end %>
    </div>
</div>