<h1><%= @user.first %> <%= @user.last %>'s Library</h1>

<% if @books.any? %>
  <div class="grid grid-cols-1 gap-6">
    <%= render partial: 'books/book_search_card', collection: @books, as: :book %>
  </div>

  <div class="pagination-buttons mt-4">
    <% if @books.prev_page %>
      <%= link_to "Previous Page", user_library_path(@user, page: @books.prev_page), class: "..." %>
    <% end %>
    <% if @books.next_page %>
      <%= link_to "Next Page", user_library_path(@user, page: @books.next_page), class: "..." %>
    <% end %>
  </div>
<% else %>
  <p class="alert alert-info">No books found. Try reviewing some books to add them to your library.</p>
<% end %>
