<div>
    <h2>Create User</h2>
</div>
<div>
    <%= form_for @user, method: :post do |f| %>
        <div class="form-group">
            <%= f.label :first %>
            <%= f.text_field :first, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :last %>
            <%= f.text_field :last, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= f.label :bio %>
            <%= f.text_area :bio, class: 'form-control' %>
        </div>

        <%= f.submit class: "btn btn-primary" %>
    <% end %>
</div>