<div class="flex rounded-lg border border-gray-400 relative">
  <div class="flex-1">
    <% if book.img_url.present? %>
        <img src="<%= book.img_url %>" alt="<%= book.title %>" style="max-width: 300px; height: auto;">
    <% end %>
  </div>

  <div class="flex-1 py-4 pr-4 flex flex-col">
    <h5 class="mb-1 text-xl font-bold tracking-tight"><%= book.title %></h5>
    <p class="mb-4 text-sm font-normal"><%= book.author %></p>
    <p class="mb-3 text-sm font-normal"><%= truncate(book.description || 'No description available.', length: 150) %></p>

    <div class="mt-auto mb-2">
      <%= link_to book.genre, root_path, class: "px-3 py-1.5 font-normal bg-stone-300 rounded-full text-sm font-semibold text-white" %>
    </div>
  </div>

  <%= button_to add_favorite_path(book.id), class: "absolute bottom-3 right-3 bg-violet-300 text-white rounded-full w-8 h-8 flex items-center justify-center hover:bg-violet-200" do %>
    <i class="far fa-bookmark text-lg"></i>
  <% end %>
</div>

