<div class="flex h-auto min-h-screen mb-16 mt-6">
  <!-- Left Column -->
  <div class="w-1/4 h-full px-4 pt-8">
    <p class="text-lg font-semibold mb-2">Browse Friends</p>
        <%= form_with url: friendships_find_path, method: :get, local: true, class: "space-y-4" do |form| %>
            <div class="flex flex-col space-y-2">
                <%= form.label :query, "Search by first name", class: "text-sm font-medium text-slate-700" %>
                <%= form.text_field :first_query, value: params[:query], class: "w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-300 rounded-full px-4 py-2 transition duration-300 focus:outline-none focus:ring-2 focus:ring-violet-300 focus:border-violet-300", placeholder: "Search first names..." %>
            </div>

            <div class="flex flex-col space-y-2">
                <%= form.label :query, "Search by last name", class: "text-sm font-medium text-slate-700" %>
                <%= form.text_field :last_query, value: params[:query], class: "w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-300 rounded-full px-4 py-2 transition duration-300 focus:outline-none focus:ring-2 focus:ring-violet-300 focus:border-violet-300", placeholder: "Search last names..." %>
            </div>

            <div class="flex flex-col space-y-2">
                <%= form.label :query, "Search by email", class: "text-sm font-medium text-slate-700" %>
                <%= form.text_field :email_query, value: params[:query], class: "w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-300 rounded-full px-4 py-2 transition duration-300 focus:outline-none focus:ring-2 focus:ring-violet-300 focus:border-violet-300", placeholder: "Search emails..." %>
            </div>

            <div>
                <%= form.submit "Filter Users", class: "w-full bg-violet-500 text-white py-2 px-4 rounded-full text-sm font-medium hover:bg-violet-300 transition duration-300" %>
            </div>

        <% end %>
  </div>

  <!-- Right Column -->
  <div class="w-3/4 px-10 pt-8 border-l border-gray-300">

        
    <% if current_user.friends.count == 0 %>
        <p class="text-lg font-semibold mb-2">Add Some Friends</p>
    <% else %>
        <p class="text-lg font-semibold mb-2">Your Friends</p>
        <% current_user.friends.each do |friend| %>
            <%= button_to user_friendship_path(current_user.id, friend.id), method: :delete, class: "list-group-item flex-column justify-content-between", form: { data: { turbo_confirm: "Are you sure you want to delete this friend?" } } do %>
                <%= render partial: "userInfo", locals: {person: friend} %>
            <% end %>
        <% end %>
    <% end %>


    <!-- Grid container with 1 column, limiting to 10 rows -->
    <p class="text-lg font-semibold mb-2">Browse Friends</p>
    <div class="grid grid-cols-1 gap-6">
        <% @users.each do |user| %>
            <% if (!@friends.include?(user) && user != current_user) %>
                <%= button_to user_friendships_path(current_user.id), method: :post, params: { friend_id: user.id }, class: "list-group-item flex-column justify-content-between", form: { data: { turbo_confirm: "Add this friend?" } } do %>
                    <%= render partial: 'userInfo', locals: {person: user} %>
                <% end %>
            <% end %>
        <% end %>
    </div>

  </div>
</div>

