<div class="flex rounded-lg border border-gray-400 relative px-4 space-x-4 transition ease-in-out delay-150 hover:-translate-y-2 duration-100 overflow-hidden">
  <%= link_to google_book_path(book.google_books_id), class: "flex space-x-4" do %>
    <!-- Image Section -->
    <div class="w-1/3 h-[33vh]">
      <%= image_tag(
            book.img_url.presence || asset_path("default_cover.jpg"), 
            alt: "Book Cover", 
            class: "h-full w-full object-contain rounded-sm"
          ) %>
    </div>

    <!-- Content Section -->
    <div class="w-2/3 py-4 pr-4 flex flex-col">
      <h5 class="mb-1 text-xl font-bold tracking-tight"><%= book.title %></h5>
      <p class="mb-4 text-sm font-normal"><%= book.author %></p>
      <p class="mb-2 text-sm font-normal"><%= truncate(book.description || 'No description available.', length: 125) %></p>
    </div>

    <!-- Favorite Button -->
    <%= button_to add_favorite_path(book.id), class: "absolute bottom-3 right-3 bg-violet-500 text-white rounded-full w-8 h-8 flex items-center justify-center hover:bg-violet-300" do %>
      <i class="far fa-bookmark text-lg"></i>
    <% end %>
  <% end %>
</div>
