<%= link_to google_book_path(book.google_books_id), class: "flex space-x-4 p-4 border border-slate-300 rounded-lg transition ease-in-out delay-150 hover:-translate-y-2 duration-300 max-h-[200px] overflow-y-auto" do %>
  <!-- Image Section -->
  <div class="bg-yellow-100">
    <%= image_tag(book.img_url, alt: "Book Cover", class: "h-40 object-cover rounded-sm") %>
  </div>
  
  <!-- Info Section -->
  <div class="w-full flex space-x-4">
    <!-- Left Side: Title, Year Published, Author, Description -->
    <div class="w-3/4 flex flex-col space-y-2">
      <div class="flex items-center space-x-2">
        <span class="text-lg font-semibold text-slate-800 truncate"><%= book.title %></span>
        <span class="text-sm text-slate-600"><%= book.publish_date.strftime("%Y") %></span>
      </div>
      <span class="text-sm text-slate-600"><%= book.author %></span>
      <p class="text-sm text-slate-500"><%= book.description.truncate(200) %></p>
    </div>
    
    <!-- Right Side: Rating -->
    <div class="w-1/4 flex flex-col items-end space-y-2">
      <%= render_star_rating(book) %>
    </div>
  </div>
<% end %>

