<!DOCTYPE html>
<html lang="en">
<html>
<head class="container">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="row">
    <h1>Welcome Fanatic Reader</h1>
</div>

<div class="row">
    <%= form_with url: books_path, method: :get do |form| %>
        <div>
            <%= form.label :query, "Search for" %>
            <%= form.text_field :query, value: @query_filt %>
        </div>

        <div>
            <%= form.label :sort, "Sort by" %>
            <%= form.select :sort, @sorts, selected: @sort_filt %>
        </div>

        <div>
            <%= form.label :rating, "Rating above" %>
            <%= form.number_field :rating, in: 0..5, step: 0.5, value: @rating_filt %>
        </div>

        <div> 
            <%= form.label :genre, "Genre" %>
            <%= form.select :genre, Book.genres.keys.map { |w| [w.humanize, w] }, include_blank: true, selected: @genre_filt%>
        </div>
a
        <div>
            <%= form.submit "Filter Books" %>
        </div>

        <div>
            <%= link_to "Clear filters", books_path(query: params[:query]) %>
            <%= link_to "Clear search", books_path %>
        </div>

    <% end %>

</div>

<%= link_to "Add a new book", new_book_path %>

<div class="row row-cols-4">
    <% @books.each_with_index do |book| %>
        <div class="col">
            <div class="card mb-1 p-2 h-100">
            <!-- if !book.images.length.zero? -->
            <!-- image_tag book.images.first.variant(:thumb), width: 60, class: "card-img-top" -->
            <!-- end -->
                <div class="card-body">
                    <h3 class="card-title" > <%= book.title %> </h3>
                    <h5> <%= book.author %> </h5>
                    <p class="card-text"> <%= book.description %> </p>
                    <%= link_to "More...", book, class: "btn btn-sm btn-primary" %>
                </div> 
            </div>
        </div>
    <% end %>
</div>

<div>
    <%= link_to "Users *temporary*", users_path, class: "btn btn-sm btn-primary" %>
    <%= link_to "Reviews *temporary*", reviews_path, class: "btn btn-sm btn-primary" %>
</div>
</body>
</html>