<div class="flex h-auto min-h-screen mb-16 mt-6">
  <!-- Left Column -->
  <div class="w-1/4 h-full px-4 pt-8">
    <p class="text-lg font-semibold mb-2">Filters</p>
      <%= form_with url: books_path, method: :get, local: true, class: "space-y-4" do |form| %>
        <div class="flex flex-col space-y-2">
          <%= form.label :query, "Search", class: "text-sm font-medium text-slate-700" %>
          <%= form.text_field :query, value: params[:query], class: "w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-300 rounded-full px-4 py-2 transition duration-300 focus:outline-none focus:ring-2 focus:ring-violet-300 focus:border-violet-300", placeholder: "Search books..." %>
        </div>

        <div class="flex flex-col space-y-2">
          <%= form.label :sort, "Sort by", class: "text-sm font-medium text-slate-700" %>
          <%= form.select :sort, @sorts, { selected: params[:sort] || @sort_filt }, { class: "w-full text-sm border border-slate-300 rounded-full px-4 py-2 transition duration-300 focus:outline-none focus:ring-2 focus:ring-violet-300" } %>
        </div>

        <div class="flex flex-col space-y-2">
          <%= form.label :rating, "Rating above", class: "text-sm font-medium text-slate-700" %>
          <%= form.number_field :rating, in: 0..5, step: 0.5, value: params[:rating] || @rating_filt, class: "w-full text-sm border border-slate-300 rounded-full px-4 py-2 transition duration-300 focus:outline-none focus:ring-2 focus:ring-violet-300" %>
        </div>

        <div class="flex flex-col space-y-2">
          <%= form.label :genre, "Genre", class: "text-sm font-medium text-slate-700" %>
          <%= form.text_field :genre, value: params[:genre] || @genre_filt, class: "w-full text-sm border border-slate-300 rounded-full px-4 py-2 transition duration-300 focus:outline-none focus:ring-2 focus:ring-violet-300" %>
        </div>

        <div class="flex flex-col space-y-2">
          <%= form.label :source, "Source", class: "text-sm font-medium text-slate-700" %>
          <%= form.select :source, options_for_select([['Google Books', 'google_books'], ['Seeded Books', 'seeded_books']], selected: params[:source]), { include_blank: false }, { class: "w-full text-sm border border-slate-300 rounded-full px-4 py-2 transition duration-300 focus:outline-none focus:ring-2 focus:ring-violet-300" } %>
        </div>

        <div>
          <%= form.submit "Filter Books", class: "w-full bg-violet-500 text-white py-2 px-4 rounded-full text-sm font-medium hover:bg-violet-300 transition duration-300" %>
        </div>
      <% end %>
  </div>

  <!-- Right Column -->
  <div class="w-3/4 px-10 pt-8 border-l border-gray-300">
    <% if @books.any? %>
      <!-- Grid container with 1 column, limiting to 10 rows -->
      <div class="grid grid-cols-1 gap-6">
        <%= render partial: 'book_search_card', collection: @books.first(10), as: :book %>
      </div>

      <!-- Pagination -->
      <div class="pagination-buttons mt-4">
        <% if params[:page].to_i > 1 %>
          <%= link_to "Previous Page", books_path(source: params[:source], query: params[:query], page: params[:page].to_i - 1), class: "w-full border-2 border-violet-500 text-violet-500 hover:bg-violet-500 hover:text-white py-2 px-4 rounded-full text-sm font-medium transition duration-300" %>
        <% end %>
        <% if @has_more_pages %>
          <%= link_to "Next Page", books_path(source: params[:source], query: params[:query], page: params[:page].to_i + 1), class: "w-full bg-violet-500 text-white py-2 px-4 rounded-full text-sm font-medium hover:bg-violet-300 transition duration-300" %>
        <% end %>
      </div>
    <% else %>
      <p class="alert alert-info">No books found. Try adjusting your filters or search keywords.</p>
    <% end %>
  </div>
</div>
