<div class="flex h-screen">
  <!-- Left Column -->
  <div class="w-1/4 bg-red-100 h-full">
    <%= form_with url: books_path, method: :get, local: true do |form| %>
      <div>
        <%= form.label :query, "Search for" %>
        <%= form.text_field :query %>
      </div>
      <div>
        <%= form.label :sort, "Sort by" %>
        <%= form.select :sort, @sorts, selected: @sort_filt %>
      </div>
      <div>
        <%= form.label :rating, "Rating above" %>
        <%= form.number_field :rating, in: 0..5, step: 0.5, value: @rating_filt %>
      </div>
      <div>
        <%= form.label :genre, "Genre" %>
        <%= form.text_field :genre %>
      </div>
      <div>
        <%= form.label :source, "Source" %>
        <%= form.select :source, options_for_select([['Google Books', 'google_books'], ['Seeded Books', 'seeded_books']], selected: params[:source]), include_blank: true %>
      </div>
      <div>
        <%= form.submit "Filter Books", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="row">
      <%= link_to "View Seeded Books", books_path(source: "seeded_books", query: params[:query]), class: "btn btn-primary" %>
      <%= link_to "View Google Books", books_path(source: "google_books", query: params[:query]), class: "btn btn-secondary" %>
    </div>
  </div>

  <!-- Right Column -->
  <div class="w-3/4 bg-blue-100 overflow-y-scroll grid grid-cols-1">
    <% if @books.any? %>
      <%= render partial: 'book_search_card', collection: @books, as: :book %>

      <!-- Pagination -->
      <div class="pagination-buttons">
        <% if params[:page].to_i > 1 %>
          <%= link_to "Previous Page", books_path(source: params[:source], query: params[:query], page: params[:page].to_i - 1), class: "btn btn-primary" %>
        <% end %>
        <% if @has_more_pages %>
          <%= link_to "Next Page", books_path(source: params[:source], query: params[:query], page: params[:page].to_i + 1), class: "btn btn-secondary" %>
        <% end %>
      </div>
    <% else %>
      <p class="alert alert-info">No books found. Try adjusting your filters or search keywords.</p>
    <% end %>
  </div>

</div>
