<!DOCTYPE html>
<html lang="en">
<head class="container">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="row">
    <h1>Welcome Fanatic Reader</h1>
</div>

<div class="row">
    <%= form_with url: books_path, method: :get do |form| %>
        <div>
            <%= form.label :query, "Search for" %>
            <%= form.text_field :query, value: @query_filt %>
        </div>

        <div>
            <%= form.label :sort, "Sort by" %>
            <%= form.select :sort, @sorts, selected: @sort_filt %>
        </div>

        <div>
            <%= form.label :rating, "Rating above" %>
            <%= form.number_field :rating, in: 0..5, step: 0.5, value: @rating_filt %>
        </div>

        <div> 
            <%= form.label :genre, "Genre" %>
            <%= form.select :genre, Book.genres.keys.map { |w| [w.humanize, w] }, include_blank: true, selected: @genre_filt %>
        </div>

        <div>
            <%= form.submit "Filter Books" %>
        </div>
    <% end %>
</div>

<div class="row">
    <%= link_to "View Seeded Books", books_path(source: "seeded_books", query: params[:query]), class: "btn btn-primary" %>
    <%= link_to "View Google Books", books_path(source: "google_books", query: params[:query]), class: "btn btn-secondary" %>
</div>

<% if @books.any? %>
    <div class="row row-cols-4">
        <% @books.each do |book| %>
            <div class="col">
                <div class="card mb-1 p-2 h-100">
                    <div id="book-card" class="card-body">
                        <h3 class="card-title"><%= book[:title] %></h3>
                        <h5><%= book[:author] || 'Unknown Author' %></h5>
                        <p class="card-text"><%= truncate(book[:description] || 'No description available.', length: 100) %></p>
                        <p><strong>Genre:</strong> <%= book[:genre] || 'Unknown' %></p>
                        <p><strong>Publisher:</strong> <%= book[:publisher] || 'Unknown' %></p>
                        
                        <%= link_to "More...", book_path(book), class: "btn btn-sm btn-primary" %>

                        <% if book.is_a?(Book) %>
                            <%= link_to "Reviews for #{book.title}", book_reviews_path(book), class: "btn btn-sm btn-primary" %>
                        <% else %>
                            <%= link_to "View on Google Books", "https://books.google.com?q=#{book[:title]}", class: "btn btn-sm btn-secondary" %>
                            <p>No reviews available for this book.</p>
                        <% end %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
    <p>No books found.</p>
<% end %>

<div>
    <%= link_to "Users *temporary*", users_path, class: "btn btn-sm btn-primary" %>
    <%= link_to "Reviews *temporary*", reviews_path, class: "btn btn-sm btn-primary" %>
</div>

</body>
</html>
