<div class="container">
  <div class="row">
    <h2 class="hero"><%= @book.title %></h2>
    <h5> <%= @book.author %> </h5>
    <h6> <%= @book.genre.humanize %> • <%= @book.pages %> pages</h6>

    <div class="col">
      <h6> Description: </h6>
      <p class="card-text"> <%= @book.description %> </p>
      <br>
      <h6> Publisher: <%= @book.publisher %> </h6>
      <h6> Published: <%= @book.publish_date %> </h6>
      <h6> ISBN 13: <%= @book.isbn_13 %> </h6>
      <h6> Language: <%= @book.language_written %> </h6>
      <br>

      <% if @buy_links %>
        <h6>Where to buy:</h6>
        <ul>
          <li><%= link_to 'Buy on Google Books', @buy_links, target: "_blank", class: "btn btn-primary" %></li>
        </ul>
      <% else %>
        <p>No purchase links available</p>
      <% end %>

      <%= link_to "Back to index", books_path, class: "btn btn-secondary" %>
      <br>
      <br>
      <%= button_to "Delete book (will need permissions)", @book, method: :delete, class: "btn btn-danger btn-sm", form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>

    <%= link_to "Recommend this book", recommend_book_path(@book) %>

    <div class="col">
      <h4>Reviews</h4>
      <h5>Average rating: <%= @book.reviews.average(:rating) %> stars</h5>
      <br>
      <% @book.reviews.each do |review| %>
        <h6><%= review.user.first %> <%= review.user.last %> • <%= review.rating %> stars</h6>
        <p><%= review.description %></p>
        <%= link_to 'More', review, class: "btn btn-sm btn-primary"%>
      <% end %>
    </div>
  </div>
</div>