<div class="container">
<div class="row">
<br>
<%= button_to add_favorite_path(@book.id), class: "bg-violet-300 text-white rounded-full w-8 h-8 flex items-center justify-center hover:bg-violet-200" do %>
    <i class="far fa-bookmark text-lg"></i>
<% end %>
<br>
<h2 class="hero"><%= @book.title %></h3>

<h5> <%= @book.author %> </h5>
<h6> <%= @book.genre %> • <%= @book.pages %> pages</h5>

<div class="col">
    <% if @book.img_url.present? %>
        <img src="<%= @book.img_url %>" alt="<%= @book.title %>" style="max-width: 300px; height: auto;">
    <% end %>
    <br>
    <h6> Description: </h6>
    <p class="card-text"> <%= @book.description %> </p>
    <br>
    <h6> Publisher: <%= @book.publisher %> </h6>
    <h6> Published: <%= @book.publish_date %> </h6>
    <h6> ISBN 13: <%= @book.isbn_13 %> </h6>
    <h6> Language: <%= @book.language_written %> </h6>
    <br>
    <br>
    <%# Search Button for Government Library System %>
    <%= link_to "Find in Library System", "https://www.worldcat.org/search?q=isbn:#{@book.isbn_13}", 
                target: "_blank", 
                class: "btn btn-success" %>
    <%= link_to "Back to index", books_path, class: "btn btn-secondary" %>
    <br>
    <br>
    <%= button_to "Delete book (will need permissions)", @book, method: :delete, class: "btn btn-danger btn-sm", form: { data: { turbo_confirm: "Are you sure?" } } %>
</div>
<div>
    <br>
    <%= link_to "Recommend this book", recommend_book_path(@book), class: "btn btn-success" %>
    <br>
</div>
<div class="col">
    <h4>Reviews</h4>
    <h5>Average rating: <%= @book.reviews.average(:rating) %> stars</h5>
    <br>
    <% @book.reviews.each do |review| %>
        <h6><%= review.user.first %> <%= review.user.last %> • <%= review.rating %> stars</h6>
        <p><%= review.review_text %></p>
    
        <%= link_to 'More', review, class: "btn btn-sm btn-primary"%>
    <%end%>
    <div class="col-2">
        <%= link_to "Write a review", new_book_review_path(@book.id), class: "btn btn-info" %>
    </div>
</div>
</div>
</div>