<div class="bg-stone-50 min-h-screen mx-14 mt-10 rounded-lg p-12">
  <div>
    <div class="flex">
      <!-- Left side: Image and Book Info -->
      <div class="flex-2 flex space-x-4">
        <!-- Image with height 1/3 of the screen -->
        <div class="h-[50vh]">
          <%= image_tag(@book.img_url.presence || asset_path("default_cover.jpg"), alt: "Book Cover", class: "h-full object-cover rounded-sm") %>
        </div>

        <div class="p-2 w-full md:w-3/4">
          <span class="text-4xl font-kalnia font-semibold">
            <%= @book.title %>
          </span>
          <span class="text-lg">
            <%= @book.formatted_publish_year %>
          </span>        
          <h1 class="text-lg font-light">by <%= @book.author %></h1>
          <p class="text-sm font-normal mt-6 whitespace-normal break-words mb-4 w-full">
            <%= @book.description %>
          </p>
          <div class="flex space-x-2">
            <%= link_to "Find in Library System", "https://www.worldcat.org/search?q=isbn:#{@book.isbn_13}", 
                  target: "_blank", 
                  class: "bg-violet-500 text-white py-2 px-4 rounded-full text-sm font-medium hover:bg-violet-300 transition duration-300 whitespace-nowrap" %>
            <%= link_to "Recommend this book", recommend_book_path(@book), class: "bg-violet-500 text-white py-2 px-4 rounded-full text-sm font-medium hover:bg-violet-300 transition duration-300 whitespace-nowrap" %>
            <%= button_to add_favorite_path(@book.id), class: "bg-violet-500 text-white rounded-full w-10 h-10 flex items-center justify-center hover:bg-violet-300" do %>
              <i class="far fa-bookmark text-lg"></i>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Right side: Rating -->
      <div class="flex-1 ml-10 text-2xl">
        <%= render partial: 'shared/star_rating', locals: { book: @book }%>
      </div>
    </div>
  </div>

  <div class="mt-20"> 
    <div class="col-2 my-6 flex items-center">
      <h3 class="text-3xl font-bold font-kalnia">Reviews</h3>
      <%= link_to "Write a review", new_book_review_path(@book.id), class: "ml-4 bg-violet-500 text-white py-2 px-4 rounded-full text-sm font-medium hover:bg-violet-300 transition duration-300 whitespace-nowrap" %>
    </div>
    <div class="mt-2">
      <% if @book.reviews.count > 0 %>
        <%= render partial: 'shared/review_card', collection: @book.reviews, as: :review %>
      <% else %> 
        <p>No reviews yet</p>
      <% end %>
    </div>
  </div>
</div>
