<div class="bg-orange-50 h-screen mx-14 mt-10 rounded-lg p-12">
  <div class="flex">
    <div class="flex-2 flex space-x-4">
      <%= image_tag(@book.img_url.presence || asset_path("default_cover.jpg"), alt: "Book Cover", class: "h-full object-cover rounded-sm") %>

      <div class="p-2">
        <span class="text-4xl font-kalnia font-semibold">
          <%= @book.title %>
        </span>
        <span class="text-lg">
          <%= @book.formatted_publish_year %>
        </span>        
        <h1 class="text-lg font-light">by <%= @book.author %></h1>
        <p class="text-sm font-normal mt-6"><%= @book.description %></p>
      </div>
    </div>

    <div class="flex-1 ml-10 text-2xl">
      <%= render_star_rating(@book) %>
    </div>
  </div>
</div>



<!--
<div class="container">
<div class="row">

<h2 class="hero"><%= @book.title %></h3>

<h5> <%= @book.author %> </h5>
<h6> <%= @book.genre %> • <%= @book.pages %> pages</h5>

<div class="col">
    <% if @book.img_url.present? %>
        <img src="<%= @book.img_url %>" alt="<%= @book.title %>" style="max-width: 300px; height: auto;">
    <% end %>

    <br>
    <h6> Description: </h6>
    <p class="card-text"> <%= @book.description %> </p>
    <br>
    <h6> Publisher: <%= @book.publisher %> </h6>
    <h6> Published: <%= @book.publish_date %> </h6>
    <h6> ISBN 13: <%= @book.isbn_13 %> </h6>
    <h6> Language: <%= @book.language_written %> </h6>
    <br>
    <br>
    <%# Search Button for Government Library System %>
    <%= link_to "Find in Library System", "https://www.worldcat.org/search?q=isbn:#{@book.isbn_13}", 
                target: "_blank", 
                class: "btn btn-success" %>
    <%= link_to "Back to index", books_path, class: "btn btn-secondary" %>
    <br>
    <br>
    <%= button_to "Delete book (will need permissions)", @book, method: :delete, class: "btn btn-danger btn-sm", form: { data: { turbo_confirm: "Are you sure?" } } %>
</div>
<div>
    <br>
    <%= link_to "Recommend this book", recommend_book_path(@book), class: "btn btn-success" %>
    <br>
</div>
<div class="col">
    <h4>Reviews</h4>
    <h5>Average rating: <%= @book.reviews.average(:rating) %> stars</h5>
    <br>
    <% @book.reviews.each do |review| %>
        <h6><%= review.user.first %> <%= review.user.last %> • <%= review.rating %> stars</h6>
        <p><%= review.review_text %></p>
    
        <%= link_to 'More', review, class: "btn btn-sm btn-primary"%>
    <%end%>
    <div class="col-2">
        <%= link_to "Write a review", new_book_review_path(@book.id), class: "btn btn-info" %>
    </div>
</div>
</div>
</div>
-->