<div class="container">

<h2 class="hero"><%= @book.title %></h3>

<h5> <%= @book.author %> </h5>
<h6> <%= @book.genre.humanize %> • <%= @book.pages %> pages</h5>

<!-- @book.images.each do |image| -->
    <!-- image_tag image.variant(:medium) -->
<!-- end -->

<br>
<h6> Description: </h6>
<p class="card-text"> <%= @book.description %> </p>
<br>
<h6> Publisher: <%= @book.publisher %> </h6>
<h6> Published: <%= @book.publish_date %> </h6>
<h6> ISBN 13: <%= @book.isbn_13 %> </h6>
<h6> Language: <%= @book.language_written %> </h6>
<br>
<%= link_to "Back to index", books_path, class: "btn btn-secondary" %>
<br>
<br>
<%= button_to "Delete book (will need permissions)", @book, method: :delete, class: "btn btn-danger btn-sm", form: { data: { turbo_confirm: "Are you sure?" } } %>
</div>