<div class="max-w-4xl mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
  <div class="text-center mb-6">
    <h1 class="text-3xl font-semibold font-kalnia"><%= @book.title %></h1>
  </div>

  <%= form_with model: @review, url: book_reviews_path(@book), method: :post do |f| %>
    <div class="mb-6">
      <%= f.label :rating, class: "text-lg font-medium text-gray-700" %>
      <%= f.number_field :rating, min: 0, max: 5, step: 1, class: "w-full p-2 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-violet-500" %>
    </div>

    <div class="mb-6">
      <%= f.label :review_text, class: "text-lg font-medium text-gray-700" %>
      <%= f.text_area :review_text, class: "w-full p-4 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-violet-500" %>
    </div>

    <div class="text-center">
      <%= f.submit "Submit Review", class: "bg-violet-500 text-white py-2 px-6 rounded-full text-lg font-medium hover:bg-violet-400 transition duration-300" %>
    </div>
  <% end %>
</div>
