<div class="py-4 px-12">
  <div class="flex justify-between">
    <div>
      <div class="flex items-center space-x-2">
        <span class="text-2xl font-semibold font-kalnia"><%= @review.book.title %> (<%= @review.book.author %>)</span>
        <span>•</span>
        <span class="text-sm text-yellow-500"><%= render partial: 'shared/star_rating', locals: { review: @review }%></span>
      </div>
      
      <p class="text-sm mt-2"><%= @review.review_text %></p>
      
      <div class="text-sm font-light mt-2">
        <span>Reviewer:</span> <%= @review.user.first %> <%= @review.user.last %>
      </div>
    </div>

    <div>
      <p class="text-sm font-medium text-gray-500"><%= @review.formatted_created_at %></p>
    </div>
  </div>

  <% if current_user == @review.user %>
    <div class="mt-4 flex space-x-4">
      <%= link_to "Edit", edit_book_review_path(@review), class: "bg-blue-500 text-white py-2 px-4 rounded-full text-sm font-medium hover:bg-blue-400 transition duration-300" %>
      <%= button_to "Delete", @review, method: :delete, class: "bg-red-500 text-white py-2 px-4 rounded-full text-sm font-medium hover:bg-red-400 transition duration-300", form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
  <% end %>
</div>
