<nav class="my-4">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="flex shrink-0 items-center">
        <%= link_to image_tag('bookshelf.png', class: 'h-20 w-auto', alt: 'Bookshelf logo'), '/'%>
      </div>

      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <% links = [
          { label: 'Home', path: root_path },
          { label: 'Discover', path: books_path },
        ] %>

        <% links << { label: 'Social', path: friendships_find_path } if current_user %>
        <% links << { label: 'Admin', path: user_admin_path(current_user)} if current_user!=nil && current_user.role == 'admin' %>

        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <% links.each do |link| %>
              <%= link_to link[:path], class: "rounded-full px-3 py-2 text-sm font-medium #{current_page?(link[:path]) ? 'bg-violet-500 text-white' : 'text-gray-400 hover:bg-violet-300 hover:text-white'}" do %>
                <%= link[:label] %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="flex justify-between items-center">
        <%= render "shared/search", url: books_path, query_value: @query_filt, placeholder: "Search books...", size_class: "w-full" %>

        <% if current_user  %>
          <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-3 sm:pr-0">
            <%= link_to user_notifications_path(current_user), class: "relative rounded-full p-1 #{current_page?(user_notifications_path(current_user)) ? 'bg-violet-500 text-white' : 'text-gray-400 hover:bg-violet-300 hover:text-white'}" do %>
              <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                <% if current_user.num_unread_messages > 0%>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <%= current_user.num_unread_messages %>
                    <span class="visually-hidden">unread messages</span>
                  </span>
                <% end %>
              </svg>
            <% end %>

            <%= link_to profile_path, class: "relative ml-3", id: "profile_click" do %>
                <img class="size-8 rounded-full" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/2048px-Default_pfp.svg.png" alt="">
            <% end %>
          </div>
        <% else %>
          <%= button_to "Log In", new_user_session_path, method: :get, class: "rounded-full ml-3 px-3 py-2 text-sm font-medium border-2 border-violet-500 text-violet-500 hover:bg-violet-500 hover:text-white" %>
        <% end %>
      <div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
    </div>
  </div>
</nav>
